<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trabajo.libro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ISO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MostrarArticuloUno"
            android:icon="@drawable/ic_launcher_background"
            android:label="TEMA 1" />
        <activity
            android:name=".MostrarArticuloDos"
            android:icon="@drawable/ic_launcher_background"
            android:label="TEMA 2" />
        <activity
            android:name=".MostrarArticuloTres"
            android:icon="@drawable/ic_launcher_background"
            android:label="TEMA 3" />
        <activity
            android:name=".MostrarArticuloCuatro"
            android:icon="@drawable/ic_launcher_background"
            android:label="TEMA 4" />
    </application>

</manifest>